@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		outline: 0;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		@apply bg-white;
		@apply text-black;
		@apply font-rubik;
		font-size: 15px;
		line-height: 19px;
		font-weight: 400;
	}

	a {
		text-decoration: none;
		cursor: pointer;
	}

	input {
		@apply relative;
		@apply px-4 py-3;
		@apply border-2 border-grey rounded-xl;
		@apply placeholder-black;
	}
}
