@tailwind base;
@tailwind components;
@tailwind utilities;

@import './menu';

@layer base {
  * {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-white;
    @apply text-black;
    @apply font-rubik;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .autocomplete {
    @apply flex flex-col -mt-3;
    @apply px-2 pt-4 pb-2;
    @apply border border-t-0 border-grey rounded-b-xl;
    @apply bg-white relative;
  }

  .autocomplete .empty {
    @apply p-4 text-center;
  }

  .autocomplete > a {
    @apply flex gap-3 py-2 px-2;
    @apply hover:bg-grey rounded-xl;
    @apply items-center relative;
  }

  .autocomplete div {
    @apply flex flex-col gap-1;
  }

  .autocomplete span {
    @apply font-medium;
  }

  .autocomplete:before {
    content: '';
    height: 1px;
    position: absolute;
    @apply top-2.5 left-4 right-4 bg-grey;
  }

  .autocomplete img {
    @apply w-14 h-14 rounded-xl;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
  }

  .long-image {
    aspect-ratio: 1/1.2;
    object-position: center;
    object-fit: cover;
  }

  .rect-image {
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-grey rounded-xl;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-darkGrey;
  }

  input:not([type='radio']),
  select {
    @apply relative;
    @apply w-full;
    @apply px-4 py-3;
    @apply border border-grey rounded-xl;
    @apply placeholder-black;
    @apply bg-white;
    max-height: 45px;
  }

  input[type='checkbox'] {
    margin-right: 16px;
    @apply relative cursor-pointer;
    width: 0;
    height: 0;
  }

  input[type='checkbox']:before {
    content: '';
    @apply absolute bg-white border border-grey top-0 left-0 rounded-sm;
    @apply block w-4 h-4;
  }

  input[type='checkbox']:checked:after {
    content: '';
    top: 3px;
    left: 3px;

    @apply absolute bg-black rounded-sm w-10p h-10p;
  }

  input[type='range'] {
    @apply appearance-none w-full min-h-0 h-2p bg-grey rounded-sm px-0 py-0;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-black rounded-full cursor-pointer;
  }

  input[name='payment']:checked + label {
    @apply border-black;
  }

  input[name='payment']:checked + label > div:last-child {
    @apply flex;
  }

  input[name='shipping']:checked + label {
    @apply bg-grey;
  }

  input[name='shipping']:checked + label .selecteds {
    @apply bg-black;
  }

  label {
    @apply cursor-pointer select-none;
  }

  .markdown h1 {
    @apply text-2xl uppercase font-medium mb-3;
  }

  .markdown p {
    @apply leading-6 tracking-wide text-darkGrey;
  }

  .markdown > p + * {
    @apply mt-3;
  }

  .markdown > table + * {
    @apply mt-3;
  }

  .markdown > h1 + * {
    @apply mt-3;
  }

  .markdown img {
    @apply block w-full md:max-w-xs md:max-h-80 rounded-xl md:float-right md:ml-6 mb-6;
  }

  .markdown table {
    @apply w-full my-14 border-collapse table-fixed;
  }

  .markdown tr {
    @apply border-b border-grey;
  }

  .markdown th,
  td {
    @apply text-left py-4 uppercase text-darkGrey;
  }

  .markdown tr td:first-child,
  th:first-child {
    @apply px-5;
  }

  .markdown th {
    @apply text-lg font-medium;
  }

  #slider-handles {
    @apply cursor-pointer bg-transparent border-0 shadow-none h-2p w-full pr-6 ml-2;
  }

  #slider-handles .noUi-base {
    @apply bg-grey;
  }

  #slider-handles .noUi-handle {
    @apply cursor-pointer w-4 h-4 rounded-full bg-black border-0 shadow-none;
  }

  #slider-handles .noUi-handle:before {
    @apply hidden;
  }

  #slider-handles .noUi-handle:after {
    @apply hidden;
  }
}

@layer components {
  .btn-primary {
    @apply uppercase bg-secondary hover:bg-opacity-80 text-white font-medium tracking-wide py-4 px-9 rounded-xl transition-all;
  }

  .btn-secondary {
    @apply uppercase bg-white border border-secondary hover:bg-secondary hover:text-white text-secondary font-medium py-4 px-9 rounded-xl transition-all;
  }
}
