.menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
}

.menu .line {
	fill: none;
	stroke: #000;
	opacity: 1;
	stroke-width: 5;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
	stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .line1 {
	stroke-dasharray: 60 207;
	stroke-width: 5;
}

.menu .line2 {
	stroke-dasharray: 60 60;
	stroke-width: 5;
}

.menu .line3 {
	stroke-dasharray: 60 207;
	stroke-width: 5;
}

#menu-expand-helper:checked {
	background-color: rebeccapurple;
}

#menu-expand-helper:checked ~ .menu .line {
	opacity: 1;
}

#menu-expand-helper:checked ~ .menu .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 5;
}

#menu-expand-helper:checked ~ .menu .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 5;
}

#menu-expand-helper:checked ~ .menu .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 5;
}

#nav-items-wrapper {
	transform: translate(100%);
	transition: transform 0.5s ease;
}

#menu-expand:checked ~ #nav-items-wrapper {
	transform: translateX(0);
}
